$primary:#1dacff;
$background:#ffffff;
$gray:#cecece;
$text-gray:#a0a0a0;
$black:#222222;
$text:#dadada;
$error:#fc004c;
$red:#fc0000;
$color:#222222;
$text-tittle:#1a232b;
$shadow:#22222220;
$background-blur:#ffffffb2;
$background-blur-dark:#5252527e;


